table.logo-brand.pb-2.mb-3
	thead
		tr
			th.logo-brand__image
				img(src="https://www.airasiago.com.my/_dms/header/logo.svg?locale=en_MY&siteid=1257", alt="AirAsiaGo")
			th.logo-brand__title Hotel Information
table.guest-box.mb-2
	thead
		tr
			th(colspan="2") Hotel Details
	tbody
		tr
			td(width="50%")
				strong Agoda Booking ID
			td.text-primary.text-large
				strong gq-y4l8rtt6qs8hx43
		tr
			td(width="50%")
				strong flynas Booking No.
			td.text-primary.text-large
				strong EYH000110
		tr
			td(width="50%")
				strong Important Note
			td
				p
					strong This booking is Pre-paid.
				p Please present this prepaid voucher and refer to Agoda booking ID upon check in. This booking is booked and payable by Agoda.com
		tr
			td(width="50%")
				strong Hotel Name 
			td
				strong PJ De Inn
		tr
			td(width="50%")
				strong Hotel Address 
			td 4-6 , Jalan 8/1E
		tr
			td(colspan="2").border-muted *Notes: These are general checkin/checkout times. Please confirm with the hotel upon checking in to avoid inconvenience
table.guest-box.mb-2
	thead
		tr
			th(colspan="2").border Room details 1
	tbody
		tr
			td(width="25%")
				strong Room Type
			td Superior Double
		tr
			td(width="25%")
				strong Number of Guests / Room
			td 2 Adults
		tr
			td(width="25%")
				strong Board Basis
			td Room Only
		tr
			td(width="25%")
				strong Room Confirmation Number
			td
				strong 8070829
		tr
			td(width="25%")
				strong Cancellation Policy
			td No cancellation allowed after 20/08/2018
				p * Cancellation is based on Hotel Cancellation Policy
table.guest-box.mb-5
	thead
		tr
			th Guest Details
	tbody
		tr
			td.p-0
				table.guest-box__item
					thead
						tr
							th #
							th Names
							th Guest Type
					tbody
						tr
							td(width="20%") 1.
							td(width="60%") Ms Vinh
							td Adult
						tr
							td 2.
							td Mr Lee
							td Adult
table.logo-brand.pb-2.mb-3
	thead
		tr
			th.logo-brand__image
				img(src="https://www.airasiago.com.my/_dms/header/logo.svg?locale=en_MY&siteid=1257", alt="AirAsiaGo")
			th.logo-brand__title Billing Details

table.guest-box.mb-5
	thead
		tr
			th Booking summary
	tbody.bg-fade
		tr
			td(width="50%")
				strong Hotel
			td
				strong MYR 219.75
		tr
			td
				strong Service Charge
			td
				strong MYR 20.00
		tr
			td.text-primary.text-large
				strong Total Paid
			td.text-primary.text-large
				strong MYR 239.75
table.logo-brand.pb-2.mb-3
	thead
		tr
			th.logo-brand__image
				img(src="https://www.airasiago.com.my/_dms/header/logo.svg?locale=en_MY&siteid=1257", alt="AirAsiaGo")
			th.logo-brand__title Passenger Information

table.guest-box.mb-1
	thead
		tr
			th Lead Passenger
	tbody
		tr
			td(width="50%").p-0
				table
					tbody
						tr
							td(width="50%")
								strong Passenger Name
							td.text-primary.text-large
								strong Ms Vinh
						tr
							td(width="50%")
								strong Contact
							td +84 1669090618
			td.p-0
				table
					tbody
						tr
							td(width="50%")
								strong Date of Birth
							td 20/03/2012
						tr
							td(width="50%")
								strong Email Address
							td vinhlt.neu@gmail.com
table.mb-3
	tbody
		tr
			td
				strong GoQuo acts as an agents for Agoda only
		tr
			td For Emergencies regarding hotel bookings.
		tr
			td.text-large.text-primary GoQuo Emergency Contact
		tr
			td
				ul.pl-2
					li Phone/Whatsapp : +60 12 222 6091 / +62-815 815 3857
					li Skype : goquo.operation
table.guest-box
	tbody
		tr
			td
				table
					tbody
						tr
							td(width="15%") Invoice number:
							td Invoice date: 09-Jul-2018
						tr
							td Booking reference: EYH000110
							td Guest email: 
								a(href="") vinhlt.neu@gmail.com
		tr
			td
				table
					tbody
						tr
							td(width="15%") Description of the goods/services
							td Amount in MYR
						tr
							td Hotel
							td MYR 219.75
						tr
							td Other taxes and fees 
							td MYR 0.00
						tr
							td UAE VAT 
							td MYR 0.00
						tr
							td Total amount  
							td MYR 239.75