table.mb-4
	thead
		tr
			th(colspan="2").text-left Holiday Voucher
	tbody
		tr
			td Voucher Number: EYH000118
			td Booking Date: 10/07/2018
table
	thead
		tr
			th Flight Itinerary
			th Booking Reference / PNR : HIRABW
	tbody
		tr
			td
				table
					thead
						th(colspan="2") Itinerary
					tbody
						tr
							td
								table
									thead
										tr
											th Departure
									tbody
										tr
											td Wednesday, 11 Jul 2018
											td EY 408
											td Depart: Abu Dhabi International Airport, United Arab Emirates 09:50
											td Arrive: Bangkok Suvarnabhumi Airport, Thailand 19:25
						tr
							td
								table
									thead
										tr
											th Return
									tbody
										tr
											td Monday, 30 Jul 2018 
											td EY 407
											td Depart: Bangkok Suvarnabhumi Airport, Thailand 02:10
											td Arrive: Abu Dhabi International Airport, United Arab Emirates 05:40
		tr
			td
				table
					thead
						th(colspan="2") Guest Details
					tbody
						tr
							td
								table
									thead
										tr
											th Guest
											th Eticket Number
											th Flight
											th Seat
											th GuChecked Baggageest
											th Sport Equipment
											th Meal
											th Insurance
									tbody
										tr
											td Mr. Lee
											td 6072135384277
											td 408
											td -
											td 0 kg
											td No
											td -
											td No
		tr
			td
				table
					thead
						th(colspan="2") Check-in times
					tbody
						tr
							td
								table
									tr
										td
											i.fa.fa-suitcase
											span Carry On Baggage
										td
											i.fa.fa-suitcase
											span Carry On Baggage
										td
											i.fa.fa-suitcase
											span Carry On Baggage
										td
											i.fa.fa-suitcase
											span Carry On Baggage
										td
											i.fa.fa-suitcase
											span Carry On Baggage
		tr
			td
				table
					thead
						th(colspan="2") Important Remider
					tbody
						tr
							td
								span Before your flight, here’s some information to keep you worry-free:
