*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html{
	box-sizing: border-box;
	font-size: 62.5%;
}
body{
	outline: none;
	font-family:$font-body;
	font-weight: 400;
	// color: $color-grey-dark-1;
	font-size: $font-size-main;
	line-height: $line-height-main;
	text-decoration: none;
	padding: 5rem;
}

/*======table=======*/
table {
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}
table th, table td{
	padding: 1.2rem;
}