.text-center{
	text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}

.clear-fix{
    overflow: auto;
}

//padding-bottom
.pb-1{
    padding-bottom: 1rem!important;
}
.pb-2{
    padding-bottom: 2rem!important;
}
.mb-4{
    margin-bottom: 4rem!important;
}
.pb-3{
    padding-bottom: 3rem!important;
}
.pb-4{
    padding-bottom: 4rem!important;
}
.pb-5{
    padding-bottom: 5rem!important;
}

//padding-top
.pt-1{
    padding-top: 1rem!important;
}
.pt-2{
    padding-top: 2rem!important;
}
.pt-3{
    padding-top: 3rem!important;
}
.pt-4{
    padding-top: 4rem!important;
}
.pt-5{
    padding-top: 5rem!important;
}
