.logo-brand{
    &__image{
        border-bottom: 1px solid #ccc;
        display: block;
    } 
}
.guest-box{
    & th {
        text-align: left;
    }
    & > thead>tr > th,& > tbody>tr > td {
        border: 1px solid #ccc;
    }
}

.flight-detail{
    & > thead > tr > th {
        color: #e32726;
        font-size: 2.5rem;
    }
    &__booking{
        font-size: 1.8rem!important;
    }
    &__item{
        & > thead > tr > th {
            background: #e32726;
            text-align: left;
            font-size: 1.7rem;
            color: #fff;
            border-bottom: 1px solid #333;
        }
        & td {
            background: #f4f2f2;
        }
    }
    &__sub{
        & th {
            text-align: left;
        }
        &,& td {
            background: #fff;
        }
        i{
            display: block;
            font-size: 5rem;
            color: #e32726;
            padding-bottom: 1rem;
        }
    }
}
.price-summary{
    & tr {
        border: 1px solid #ccc;
    }
}
.text-large{
    font-size: 1.6rem;
}
.text-primary{
    color: cornflowerblue;
}
.text-main{
    color: #e32726!important;
}