link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=vietnamese")
link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="lib/linea/icon-font.css")
link(href="/css/main.css" rel="stylesheet")