@using System.Globalization
@using GoQuoEngine.Data.Domain
@using GoQuoEngine.Flights
@using GoQuoEngine.Hotels
@using MvcCornerstone.Extensions
@using System.Linq
@using Newtonsoft.Json
@using GoQuoEngine.Transfers
@{
    Booking booking = Model.Booking;
    List<BookingPassengerInfo> passengerInfos = booking.Passengers.ToList();
    BookingCustomerInfo customerInfo = booking.CustomerInfo;
    List<BookingHotelInfo> hotels = booking.Hotels.ToList();
    BookingHotelInfo hotel = booking.Hotels.First();
    var providerNames = hotel.HotelRooms.Select(h => h.ProviderName).Distinct();
    string supplierName = String.Join(",", providerNames);

    var baggagePrice = decimal.Zero;
    var seatPrice = decimal.Zero;

    if (booking.Seats != null && booking.Seats.Any())
    {
        seatPrice = booking.Seats.Sum(x => x.TotalPrice);
    }

    if (booking.Addons != null && booking.Addons.Any())
    {
        var baggages = booking.Addons.Where(x => x.AddonType == AddonType.Baggage).ToList();
        if (baggages.Any())
        {
            baggagePrice = baggages.Sum(x => x.TotalPrice);
        }
    }
    var isUserB2B = Model.IsB2B;

    var isShowPriceInVoucher = booking.ShowPriceInVoucher;
}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style type="text/css">
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.5rem;
    padding: 5rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table th, table td {
    padding: 1.2rem;
}
.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.border-fade{
    border: 1px solid #ccc;
    border-bottom: none!important;
}
.border-muted{
    border: none!important;
}
.border-right{
    border-right: 3px solid #ccc!important;
}
.bg-fade{
    background: #f4f2f2!important;
}
.bg-gray{
    background: #ccc!important;
}
.page-break{page-break-after: always};
.p-0{
    padding: 0!important;
}
.pb-2{
    padding-bottom: 2rem!important;
}
.pl-3{
    padding-left: 3em;
}
.mb-2{
    margin-bottom: 2rem!important;
}
.pt-1{
    padding-top: 1rem!important;
}
.text-large {
  font-size: 1.6rem;
}
.text-primary {
  color: crimson;
}
.text-main {
  color: #e32726!important;
}
.logo-brand__image {
  border-bottom: 1px solid #ccc;
  display: block;
}
.logo-brand__image img{
  max-width: 300px;
}
.guest-box th {
  text-align: left;
}
.guest-box > thead > tr > th, .guest-box > tbody > tr > td {
  border: 1px solid #ccc;
}
.flight-detail > thead > tr > th {
  color: #e32726;
  font-size: 2.5rem;
}
.flight-detail__booking {
  font-size: 1.8rem !important;
}
.flight-detail__item > thead > tr > th, .price-summary th {
  background: #e32726;
  text-align: left;
  font-size: 1.7rem;
  color: #fff;
  border-bottom: 1px solid #333;
}
.flight-detail__item td {
  background: #f4f2f2;
}
.flight-detail__sub th {
  text-align: left;
}
.flight-detail__sub, .flight-detail__sub td {
  background: #fff;
}
.flight-detail__sub i {
  display: block;
  font-size: 5rem;
  color: #e32726;
  padding-bottom: 1rem;
}
.price-summary tr{
  border: 1px solid #ccc;
}
.price-summary > thead > tr{
  border: none;
}

</style>
<table class="logo-brand">
    <thead>
        <tr>
            <th class="logo-brand__image pb-2 mb-2"><img src="https://www.airasiago.com.my/_dms/header/logo.svg?locale=en_MY&amp;siteid=1257" alt="AirAsiaGo" /></th>
        </tr>
    </thead>
</table>
<table class="guest-box mb-2">
    <thead>
        <tr>
            <th class="bg-fade" colspan="2">Holiday Voucher</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Voucher Number : </strong>@Model.Booking.BookingConfirmRef</td>
            <td> <strong>Booking Date : </strong>@string.Format("{0:dd/MM/yyyy}", Model.Booking.BookingDate)</td>
        </tr>
    </tbody>
</table>
<table class="flight-detail">
    <thead>
        <tr>
            <th class="flight-detail__title text-left">Flight Itinerary</th>
            <th class="flight-detail__booking text-right">Booking Reference / PNR : @Model.Booking.ReservationCode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th>Itinerary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="flight-detail__sub">
                                    <thead>
                                        <tr>
                                            <th>Departure</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.OutboundFlight.DepartureDate.ToString("dddd, dd MMM yyyy")</td>
                                            <td>
                                                <span>@Model.OutboundFlight.AirlineName </span>
                                                <span>@Model.OutboundFlight.AirlineCode </span>
                                                <span>@Model.OutboundFlight.FlightNumber</span>
                                            </td>
                                            <td> <strong>Depart : </strong>
                                                @foreach (var leg in Model.OutboundFlight.GetLegs())
                                                {
                                                    <span>@leg.DepartureAirportName (@leg.DepartureAirportCode) at @leg.DepartureDate.ToString("HH:mm")</span>
                                                }
                                            </td>
                                            <td> <strong>Arrive : </strong>
                                                @foreach (var leg in Model.OutboundFlight.GetLegs())
                                                {
                                                    <span>@leg.ArrivalAirportName (@leg.ArrivalAirportCode) at @leg.ArrivalDate.ToString("HH:mm")</span>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        @if (Model.Booking.InboundFlight != null)
                        {
                            <tr>
                                <td>
                                    <table class="flight-detail__sub">
                                        <thead>
                                            <tr>
                                                <th>Return</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.InboundFlight.DepartureDate.ToString("dddd, dd MMM yyy") </td>
                                                <td>
                                                        <span>@Model.OutboundFlight.AirlineName </span>
                                                    <span>@Model.InboundFlight.AirlineCode </span>
                                                    <span>@Model.InboundFlight.FlightNumber</span>
                                                </td>
                                                <td> <strong>Depart :</strong>
                                                    @foreach (var leg in Model.InboundFlight.GetLegs())
                                                    {
                                                        <span>@leg.DepartureAirportName (@leg.DepartureAirportCode) at @leg.DepartureDate.ToString("HH:mm")</span>
                                                    }
                                                </td>
                                                <td> <strong>Arrive :</strong>
                                                    @foreach (var leg in Model.InboundFlight.GetLegs())
                                                    {
                                                        <span>@leg.ArrivalAirportName (@leg.ArrivalAirportCode) at @leg.ArrivalDate.ToString("HH:mm")</span>
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th colspan="2">Passenger Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="p-0">
                                <table class="guest-box">
                                    <thead>
                                        <tr>
                                            <th>Passenger Name</th>
                                            <th>Class</th>
                                            <th>Status</th>
                                            <th>Baggage Purchased</th>          
                                            <th>Seats</th>
                                            <th>Meals</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--START_DEP_PASSENGER_ROW-->
                                        @for (int i = 0; i < Model.Booking.Passengers.Count; i++)
                                        {
                                            var departureBaggage = new BookingFlightAddon();
                                            if (booking.Addons != null && booking.Addons.Any())
                                            {
                                                departureBaggage = booking.Addons.FirstOrDefault(x => x.AddonType == AddonType.Baggage && x.PaxNo == Model.Booking.Passengers[i].Order && x.From == Model.OutboundFlight.From);

                                            }

                                            var freeBaggage = Model.OutboundFlight.GetOriginData<FlightResponse>().OutboundAdultFreeBaggage;

                                            for (var j = 0; j < Model.OutboundFlight.GetLegs().Count; j++)
                                            {
                                                var leg = Model.OutboundFlight.GetLegs()[j];
                                                var seat = booking.Seats.FirstOrDefault(x => x.PaxNo == Model.Booking.Passengers[i].Order && x.From == leg.DepartureAirportCode);
                                                if (j == 0)
                                                {
                                                    <tr>
                                                        <td rowspan="@Model.OutboundFlight.GetLegs().Count">&raquo; @Model.Booking.Passengers[i].Title @Model.Booking.Passengers[i].FirstName @Model.Booking.Passengers[i].LastName</td>
                                                        <td>@Model.OutboundCabinClass</td>
                                                        <td >Confirmed</td>
                                                        <td>@((departureBaggage != null && !string.IsNullOrEmpty(departureBaggage.Code)) ? string.Format("{0}", departureBaggage.GetOriginData<AddonInfo>().Weight + " KG") : "0 kg")  @freeBaggage ffff</td>
                                                        <td>@(seat != null ? seat.SeatName : "Check-In Required")</td>
                                                        <td>Not Confirmed</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>@Model.OutboundCabinClass</td>
                                                        <td><span>Confirmed</span></td>
                                                        <td>@((departureBaggage != null && !string.IsNullOrEmpty(departureBaggage.Code)) ? string.Format("{0}", departureBaggage.GetOriginData<AddonInfo>().Weight + " KG") : "0 kg") @freeBaggage 333333</td>
                                                        <td>@(seat != null ? seat.SeatName : "Check-In Required")</td>
                                                        <td>Not Confirmed</td>
                                                    </tr>
                                                }

                                            }

                                        }
                                        <!--END_DEP_PASSENGER_ROW-->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th colspan="2">Check-in times</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="flight-detail__sub text-center">
                                    <tr>
                                        <td width="20%"><i class="fa fa-suitcase"></i><strong>Carry	On	Baggage</strong>
                                            <p>7 kg plus one personal item</p>
                                        </td>
                                        <td width="20%"><i class="fa fa-male"></i><strong>Check-in</strong>
                                            <p>Counter	check-in closes	1 hour before departure	time</p>
                                        </td>
                                        <td width="20%"><i class="fa fa-check"></i><strong>Gates Open</strong>
                                            <p>40 minutes before departure</p>
                                        </td>
                                        <td width="20%"><i class="fa fa-times"></i><strong>Gates Close</strong>
                                            <p>20 minutes before departure</p>
                                        </td>
                                        <td width="20%"><i class="fa fa-plane"></i><strong>Flight Departs</strong>
                                            <p></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th colspan="2">Important Remider</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="flight-detail__sub">
                                    <tr>
                                        <td><strong>Before your flight, here’s some information to keep you worry-free:</strong>
                                            <p>Each guest is allowed one cabin bag with a maximum weight of 7kg, plus one personal item. Any excess weight or items will have to be checked in, and checked baggage fees will apply. Hong Kong International Airport
                                                check-in counters open 3 hours prior to and close 1 hour before scheduled time of departure. Airport Express in-town check-in opens 1 day prior to and closes 1.5 hours before scheduled time of departure.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p class="page-break"></p>
<table class="logo-brand">
    <thead>
        <tr>
            <th class="logo-brand__image pb-2 mb-2"><img src="https://www.airasiago.com.my/_dms/header/logo.svg?locale=en_MY&amp;siteid=1257" alt="AirAsiaGo" /></th>
        </tr>
    </thead>
</table>
<table class="flight-detail">
    <thead>
        <tr>
            <th class="flight-detail__title text-left">Hotel Confirmations</th>
            <th class="flight-detail__booking text-right">BookingID: @Model.Booking.Hotels[0].ProviderBookingReference / @booking.BookingConfirmRef</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th>Hotel Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="flight-detail__sub">
                                    <tr>
                                        <td width="25%">Hotel Name:</td>
                                        <td><strong>@hotel.Name</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Hotel Address:</td>
                                        <td><strong>@Model.Booking.Hotels[0].Address</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Hotel Contact Number:</td>
                                        <td><strong>@Model.Booking.Hotels[0].Telephone</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Supplier Name:</td>
                                        <td><strong>@supplierName</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Check in date:</td>
                                        <td><strong>@((Model.Booking.CheckIn != null && Model.Booking.CheckIn != DateTime.MinValue) ? Model.Booking.CheckIn?.ToString("dd/MM/yyyy") : Model.Booking.DepartureDate.ToString("dd/MM/yyyy"))</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Check out date:</td>
                                        <td><strong>@((Model.Booking.CheckOut != null && Model.Booking.CheckOut != DateTime.MinValue) ? Model.Booking.CheckOut?.ToString("dd/MM/yyyy") : Model.Booking.ReturnDate.ToString("dd/MM/yyyy"))</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Number of Nights</td>
                                        <td>
                                            <strong>
                                                @if (Model.Booking.CheckIn != null && Model.Booking.CheckIn != DateTime.MinValue)
                                                {
                                                    <span>@((Model.Booking.CheckOut - Model.Booking.CheckIn).TotalDays)</span>
                                                }
                                                else
                                                {
                                                    <span>@(Model.Booking.ReturnDate - Model.Booking.DepartureDate).TotalDays)</span>
                                                }
                                            </strong>
                                        </td>
                                    </tr>
                                    @if (!string.IsNullOrEmpty(hotel.CheckInInstructions))
                                    {
                                        <tr>
                                            <td>
                                                <h4>Check-in Instruction</h4>
                                            </td>
                                            <td>
                                                <strong>
                                                    @Raw(hotel.CheckInInstructions)
                                                </strong>
                                            </td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrEmpty(hotel.SpecialCheckInInstructions))
                                    {
                                        <tr>
                                            <td>
                                                <h4>Special Check-in Structions</h4>
                                            </td>
                                            <td>
                                                <strong>
                                                        @Raw(hotel.SpecialCheckInInstructions)
                                                </strong>
                                            </td>
                                        </tr>
                                    }
                                    @if (!string.IsNullOrEmpty(supplierName) && supplierName.ToLower().Contains("airasiago") && !string.IsNullOrEmpty(hotel.Remarks))
                                    {
                                        <tr>
                                            <td>
                                                <h4>Hotel Remark</h4>
                                            </td>
                                            <td>
                                                <strong>
                                                    @Raw(hotel.Remarks)
                                                </strong>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                        @for (byte i = 0; i < hotel.HotelRooms.Count; i++)
                        {
                            var availableRoom = hotel.HotelRooms.ElementAt(i);
                            <tr>
                                <td>
                                    <table class="flight-detail__item">
                                        <thead>
                                            <tr>
                                                <th class="bg-fade border-fade text-main">
                                                    <h3>Room details @(i + 1)</h3>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="p-0 bg-fade">
                                                    <table class="guest-box">
                                                        <tr>
                                                            <td width="20%"><strong>Room Type</strong></td>
                                                            <td>@availableRoom.Description</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Number of Guest / Room</strong></td>
                                                                <td>
                                                                    @availableRoom.Adults Adult
                                                                    @{var childtext = availableRoom.Children > 0 ? availableRoom.Children + "Children" : "";}
                                                                    @childtext
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Board Basis</strong></td>
                                                            <td>@availableRoom.BoardCodeDescription</td>
                                                        </tr>
                                                        @if (!string.IsNullOrEmpty(availableRoom.ConfirmationNumber))
                                                        {
                                                            <tr>
                                                                <td><strong>Room Confirmation Number</strong></td>
                                                                <td>@availableRoom.ConfirmationNumber</td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <td>
                                                                <h4>Cancellation Policy</h4>
                                                            </td>
                                                            <td>
                                                                    @if (availableRoom.CancelFreeBeforeDate > DateTime.MinValue)
                                                                    {
                                                                        <em>
                                                                            No cancellation allowed after @availableRoom.CancelFreeBeforeDate?.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                                                            <p style="display: block;">* Cancellation is based on Hotel Cancellation Policy</p>
                                                                        </em>
                                                                    }
                                                                    else
                                                                    {
                                                                        <em>This booking is Non-Refundable and cannot be amended or modified. Failure to arrive at your hotel will be treated as a No-Show and no refund will be given (Hotel policy).</em>
                                                                    }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th>Guest Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="flight-detail__sub">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Names</th>
                                            <th>Guest Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Passengers.Count; i++)
                                        {
                                            <tr>
                                                <td width="15%">@(i + 1).</td>
                                                <td>@Model.Passengers[i].Title @Model.Passengers[i].FirstName @Model.Passengers[i].LastName</td>
                                                <td>@Model.Passengers[i].PassengerType</td>
                                            </tr> 
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p class="page-break"></p>
<table class="logo-brand">
    <thead>
        <tr>
            <th class="logo-brand__image pb-2 mb-2"><img src="https://www.airasiago.com.my/_dms/header/logo.svg?locale=en_MY&amp;siteid=1257" alt="AirAsiaGo" /></th>
        </tr>
    </thead>
</table>
<table class="flight-detail">
    <thead>
        <tr>
            <th class="flight-detail__title text-left">Payments</th>
            <th class="flight-detail__booking text-right">Total Paid: @Model.Currency @Model.TotalPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</th>
        </tr>
    </thead>
    <tbody>
        @if (!isUserB2B || (isShowPriceInVoucher && isUserB2B))
        {
            <tr>
                <td colspan="2">
                    <table class="price-summary">
                        <thead>
                            <tr>
                                <th class="text-left border-fade" colspan="3">Price Summary</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.BookingProductName != "")
                            {
                                <tr>
                                    <td>@Model.BookingProductName</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.PackagePrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (baggagePrice > 0)
                            {
                                <tr>
                                    <td>Baggages</td>
                                    <td>@Model.Currency</td>
                                    <td>@baggagePrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (seatPrice > 0)
                            {
                                <tr>
                                    <td>Seats</td>
                                    <td>@Model.Currency</td>
                                    <td>@seatPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (Model.Booking.OutboundFlight != null && Model.TaxesAndFees > 0)
                            {
                                <tr>
                                    <td>Taxes & Fees</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.TaxesAndFees.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (Model.InsurancePrice > 0)
                            {
                                <tr>
                                    <td>Insurance</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.InsurancePrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (Model.TourPrice > 0)
                            {
                                <tr>
                                    <td>Tour</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.TourPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (Model.TransferPrice > 0)
                            {
                                <tr>
                                    <td>Transfer</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.TransferPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (Model.PromoPrice > 0)
                            {
                                <tr>
                                    <td>Your SAVINGS</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.PromoPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (Model.GstPrice > 0)
                            {
                                <tr>
                                    <td>Total GST</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.GstPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            @if (Model.OtherChargeMarkupPrice > 0)
                            {
                                <tr>
                                    <td>Service Charge</td>
                                    <td>@Model.Currency</td>
                                    <td>@Model.OtherChargeMarkupPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                                </tr>
                            }
                            <tr>
                                <td width="25%">Total Paid </td>
                                <td>@Model.Currency</td>
                                <td>@Model.TotalPrice.ToString("N" + Model.CurrencyDecimals, CultureInfo.InvariantCulture)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th>Payment Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="flight-detail__sub">
                                    <tr>
                                        <td>Mode of Payment: AAA</td>
                                    </tr>
                                    <tr>
                                        <td>Payment Date: AAA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-large"><strong>Total: AAA</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">Average total amount per person : AAAAAAAAAAAAA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-primary">Voucher issued date: AAAAAAAAAAAAA</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="flight-detail__item">
                    <thead>
                        <tr>
                            <th class="bg-gray border-muted">Got a Questions?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-gray">
                                <table class="flight-detail__sub">
                                    <tr>
                                        <td class="border-right">
                                            <p>For any general enquiries regarding to your package booking please contact our dedicated holidays hotline.</p>
                                            <p>Air Asia Package Holidays Call center (Malaysia)</p>
                                            <p><strong>Working Hours - 08:00 - 24:00</strong>
                                                <ul class="pl-3 pt-1">
                                                    <li>Phone: +852 3692 2099</li>
                                                    <li>E-mail: askus@airasia.com</li>
                                                </ul>
                                            </p>
                                        </td>
                                        <td>
                                            <p>If you have an Emergency related to your hotel booking please contact our holiday partner, GoQuo.</p>
                                            <p>GoQuo emergency contact (Malaysia)</p>
                                            <p><strong>Working hours - 24 hours</strong>
                                                <ul class="pl-3 pt-1">
                                                    <li>Phone / Whatsapp: +6012 222 6091 / +62-815 8153857</li>
                                                    <li>E-mail : ops@goquo.com</li>
                                                    <li>Skype : goquo.operation</li>
                                                </ul>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>